@inject HttpClient Http
@*Code Written with Bridie from Year 9*@
@page "/movie/{MovieId}" 


<PageTitle>Movie title</PageTitle>

@if (TheMovie != null)
{
   
    @*Written with Leighton, Harrison, Joe from year 9*@
    <div style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/@TheMovie.backdrop_path'); 
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 800px; 
                background-color: rgba(0,0,0,0.7);
                background-blend-mode: darken; 
                padding: 15px" class="text-light row">
        <div class="col-sm-3">
            <img src="https://www.themoviedb.org/t/p/w440_and_h660_face/@TheMovie.poster_path" class="rounded img-fluid"/>
        </div>
        <div class="col-9">
            <h1 class="display-1">@TheMovie.title</h1>    
            @*Written with Louis Year 13*@

            <a href="@TheMovie.homepage" class="btn btn-primary mb-2">Find out more</a>
            @*Written with Isabelle from year 9 - she made it pink*@
            <p style="font-size: 1.5em; color: pink; background-color: rgba(0, 0, 0, 0.4); padding: 10px;">@TheMovie.overview</p>
            
            @*Conditional Logic written with Tobias*@
            @if (!string.IsNullOrEmpty(TheMovie.tagline))
            {
                @*Written with Morgan from year 10*@
                <p class="alert alert-light">@TheMovie.tagline</p>    
            }
            
            @*Written with Maddi and Emma from year 10*@
            <div style="background-color: rgba(0, 0, 0, 0.4); padding: 10px;">
                <h5>Production Companies</h5>
                <ol>
                    @foreach (var prodCompany in TheMovie.production_companies)
                    {
                        <li>@prodCompany.name</li>
                    }
                </ol>
            </div>
        </div>
    </div>
}

@code {
    private MovieDetails TheMovie { get; set; }

    [Parameter]
    public string MovieId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TheMovie = await Http.GetFromJsonAsync<MovieDetails>($"https://api.themoviedb.org/3/movie/{MovieId}?api_key=245735d960369aaa9100f4410af813de");
    }

    public class MovieResult
    {
        public MovieDetails MovieDetails { get; set; }
    }

    public class Genre
    {
        public int id { get; set; }
        public string name { get; set; }
    }

    public class ProductionCompany
    {
        public int id { get; set; }
        public string logo_path { get; set; }
        public string name { get; set; }
        public string origin_country { get; set; }
    }

    public class ProductionCountry
    {
        public string iso_3166_1 { get; set; }
        public string name { get; set; }
    }

    public class SpokenLanguage
    {
        public string english_name { get; set; }
        public string iso_639_1 { get; set; }
        public string name { get; set; }
    }

    public class MovieDetails
    {
        public bool adult { get; set; }
        public string backdrop_path { get; set; }
        public object belongs_to_collection { get; set; }
        public int budget { get; set; }
        public List<Genre> genres { get; set; }
        public string homepage { get; set; }
        public int id { get; set; }
        public string imdb_id { get; set; }
        public string original_language { get; set; }
        public string original_title { get; set; }
        public string overview { get; set; }
        public double popularity { get; set; }
        public string poster_path { get; set; }
        public List<ProductionCompany> production_companies { get; set; }
        public List<ProductionCountry> production_countries { get; set; }
        public string release_date { get; set; }
        public int revenue { get; set; }
        public int runtime { get; set; }
        public List<SpokenLanguage> spoken_languages { get; set; }
        public string status { get; set; }
        public string tagline { get; set; }
        public string title { get; set; }
        public bool video { get; set; }
        public double vote_average { get; set; }
        public int vote_count { get; set; }
    }


}
